---
import Layout from '../../layout/layout.astro';
import '../../styles/carousel.scss';

import projectsData from '../../data/projects.json';

export async function getStaticPaths() {
    return projectsData.projects.map((project) => {
        return {
            params: { id: project.ID.toString() }, 
            props: { project },
        };
    });
}

const { project } = Astro.props;
---

<Layout>
    <h1>{project.Title}</h1>
    <p><strong>Тип:</strong> {project.Type} ({project.Status})</p>
    <p>{project.FullDescription}</p>
        

    <div id="carouselExample" class="carousel slide custom-carousel">
        <div class="carousel-inner">

            {project.Images.map((image: string, index: number) => (
                <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
                    <img src={`${image}`} class="carousel-img" alt="Project screenshot" />
                </div>
            ))}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> 

    <h3>Інструменти:</h3>
    <ul>
        {project.Tools.map((tool) => (
            <li>
                <strong>{tool.name}</strong>
                {tool.values && ` — ${tool.values.join(', ')}`}
            </li>
        ))}
    </ul>
    <p>Проект можна переглянути у {project.Link && <a href={project.Link} target="_blank"><img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" alt="Github link"></a>}. </p>
</Layout>